


body {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  border: 20px solid rgba(110, 163, 11, 0);
}

.intro{
  position:absolute;
  left: 500px
}
.container1, form {
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 50%;
  text-align: center;
 }
 
.toggle {
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3c03e7;
  position: absolute;
  left: 200px;
  top: 100px;
  text-align: center;
  margin: 20px;
}
.close {
  background: #2f14de;
  position: absolute;
  left: 400px;
  top: 100px;
}
.toggle:before, .close:before {
  content: "\f003";
  font-family: FontAwesome;
  color: white;
  line-height: 50px;
  font-size: 24px;
}
h1 { 
  color: #4ab408;  
  font-size: 4em;
  font-family: 'Playfair Display', serif;
  margin-top: 0;
  text-align: center;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  color: #3907e0;
  letter-spacing: 3px;
  font-weight: normal;
  text-align: center;
}
#target {
  opacity: 0;
  transform: scale(0.5);
  top: 60px;
  bottom: 500px;
  left: 40px;
  right: 150px;
  text-align: center;
  background: #8dd457;
  position: relative;
}
#target h1, #target span {
  color: rgb(225, 68, 68);
}
.close:before {
  content: "\f00d";
}
#target:target {
  opacity: 1;
  transform: scale(1);
}
#timer span {
  color: #3F3461;  
  font-size: 4em;
  font-weight: bold;
}
form {
  padding: 20px;
  background-color: rgb(185, 187, 177);
  
}
form input {
  height: auto;
  display: block;
  outline:none;
  width: 100%;
  line-height: 50px;
  font-size: 30px;
  padding-left: 0px;
  border: none;
  background-color: rgba(18, 230, 142, 0.5);
}
button {
  position: relative;
  bottom: 40px;
  right: -200px;
  width: 80px;
  font-size: 28px;
  background: transparent;
  cursor: pointer;
  border: 5px;
}
button:before {
  content: "\f003";
  font-family: FontAwesome;
  color: rgb(18, 230, 142, 0.5);
  font-size: 0px;
  line-height: 50px;
}
@media (max-width: 768px) {
  h1 {font-size: 3em}
  h1 span {font-size:14px}
  #timer span {font-size: 3em}
  form input {font-size:20px}
}
@media (max-width: 400px) {
  h1 {font-size: 2em}
}




.container {

  border: 0px solid rgba(28, 15, 218, 0.2);

  width: 20%;

  height: 100%;

          -webkit-perspective: 1200;

  perspective: 1200;

  -moz-transform: perspective(1200px);

  -webkit-transform-style: preserve-3d;

  -moz-transform-style: preserve-3d;

  transform-style: preserve-3d;

  position: relative;
  top: -80px

}

.button {

  text-decoration: none;

  width: 30px;

  height: 50px;
  border-radius: 50%;

  position: relative;

  display: inline-block;

  top: 0;

  left: 0;

  z-index: 3;

  line-height: 50px;

  padding-left: 30px;

  transition: .4s linear;

}

.button:before {

  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 0;

  height: 0;

  border-top: 20px solid #CE1D5A;

  border-right: 20px solid transparent;

}

.button:after {

  content: "";

  position: absolute;

  top: 8px;

  left: 8px;

  width: 0;

  height: 0;

  border-top: 20px solid white;

  border-right: 20px solid transparent;

}

.home:hover, .close:hover {

  color: white;

}

.home, .close {

  color: rgb(68, 18, 183);

  font-size: 20px;

}

.flipper {

  position: relative;

  width: 100%;

          height: 100%;

  transform-style: preserve-3d;

  transition: .7s linear; 

}

.front, .back {

  font-family: 'Cabin', sans-serif;

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: rgba(49, 10, 219, 0.5);

  backface-visibility: hidden;

}

.front {

  z-index: 2;

  transform: rotateX(0deg);

}

.back {

  transform: rotateX(-180deg);

  color: white;

}

.flipper:target {

  transform: rotateX(180deg);

}

.inner {

  padding: 20px;

  line-height: 2;

  letter-spacing: 1px;

}

@media (max-width: 768px) {

  h1 {font-size: 3em; white-space:normal;}

  h2 {font-size: 2em}

  p {font-size: 14px;}

}

.spec {
  position: relative;

  top: -140px;

  left: -10px;

  width: 100%;

  height: 100%;
 } 

.videoblock {
  position: relative;

  top: 150px;

  left: 0;

  width: 100%;

  height: 100%;

  font-size: 28px
 }

 #prop-about1:not(:target) {
  display: none;
}
#prop-about1:target {
  display: block;
}

.close1 {
  font-size: 100px;
}

.zvukvody {
  position: relative;

  top: -130px;

  left: 0px;

  width: 100%;

  height: 100%;
}
.audio{
  position: relative;
  left: 20px;
  width: 100px;

  height: 30px;
}

a:link    {color:blue; text-decoration:none}

            a:visited {color:rgb(85, 25, 205); text-decoration:none}

            a:hover   {color:red; text-decoration:underline}

            a:active  {color:yellow; text-decoration:underline}

            input:hover {border:2px solid red;}

:first-letter { font-style: italic}

.question{
  font-size:20px
}

